/* Race Service Section styles */
.race-services {
    width: 85%;
    margin: 40px auto;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    min-height: 300px;
    max-height: 550px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Container styling for the content */
.services-content-section {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

/* Heading styling */
.services-content-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styling */
.services-content-section form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RaceServiceForm {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-content-section form label {
    margin-right: 10px; /* Space between label and input */
    white-space: nowrap; /* Prevent label text from wrapping */
}

.services-content-section form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.services-content-section form button {
    background-color: #7d2ae8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.services-content-section form button:hover {
    background-color: #5b13b9;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .services-content-section {
        padding: 10px;
    }
    .services-content-section h2 {
        font-size: 20px;
    }
    .RaceServiceForm {
        flex-direction: column; /* Stack label and input vertically on small screens */
        align-items: flex-start;
    }
    .services-content-section form input[type="text"] {
        width: 100%;
        font-size: 14px;
    }
    .services-content-section form button {
        font-size: 14px;
    }
}
